body {
  font-family: Arial, Helvetica, sans-serif;
  color: black;
  /* text-align: center; */
}

* {
  margin: 0;
  padding: 0;
}

nav ul {
  display: flex;
  justify-content: flex-end;
  position: fixed;
  width: 100%;
  background-color: white;
  font-size: 1.25rem;
}

nav ul li {
  display: inline-block;
  margin: 55px;
  margin-bottom: 15px;
  margin-top: 25px;
}

nav ul li a {
  text-decoration: none;
  color: #4AF8FF;
}

@media only screen and (max-width: 500px) {
  nav ul {
    text-align: center;
  }
  nav ul li {
    margin: 20px;
  }
  .project {
    margin: 40px 0;
  }
}

.intro {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-content: space-between;
  min-height: 55vh;
  padding-top: 45vh;
  background-color: rgb(183, 188, 189);
}

.intro div {
  
  width: 400px;
  height: 400px;
  text-align: center;
  /* color:red; 
  background:#f0f0f0;
  width:100%;
  height:120px;
  line-height:120px;
  overflow:hidden;
  position:relative; */
  /* border: 2px solid yellow; */
}

/* @keyframes slide {
  from { left:100%; transform: translate(0, 0); }
  to { left: -100%; transform: translate(-100%, 0); }
}
@-webkit-keyframes slide {
  from { left:100%; transform: translate(0, 0); }
  to { left: -100%; transform: translate(-100%, 0); }
}

.intro div div {
  position:absolute;
  top:0;
  white-space: nowrap;
  height:120px;
  font-size:15px;
  animation-name: slide;
  animation-duration: 30s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  -webkit-animation-name: slide;
  -webkit-animation-duration: 30s;
  -webkit-animation-timing-function:linear;
  -webkit-animation-iteration-count: infinite;
}

.intro p {
  color: white;
} */


.project {
  text-decoration: none;
  color: black;
  /* display: inline-block;
    overflow: hidden;
    border: 2px solid lightblue;
    height: 220px;
    width: 280px;
    margin: 40px 100px; */
  /*   background: url("https://res.cloudinary.com/dck40m3wf/image/upload/v1455459914/Portfolio/fancy-floral-pattern-384.jpg") repeat; */
}

.project:hover{
  color: #4AF8FF;
}

.project-pics {
  display: flex;
  justify-content:space-evenly;
  flex-wrap: wrap;
}

.work-header {
  font-weight: normal;
  text-align: center;
  padding: 20px;
}

.work {
  background-color: rgb(194, 197, 197);
}

figure {
  max-width: 200px;
  padding: 20px;
}

.figure-pic {
  width: 100%;
  height: 180px;
}

figcaption {
  font-weight: bold;
  font-size: 1.5rem;
  text-align: center;
}

.header {
  text-align: center;
  padding: 30px;
}

.header p {
  font-size: 23px;
  text-align: center;
}

.contact {
  background-color: rgb(87, 88, 90);
}

.contact-details {
  display: inline-block;
  font-weight: bold;
  margin: 0 35px 45px 35px;
  list-style-type: none;
  border: 2px solid #4AF8FF;
  border-radius: 20%;
  width: 100px;
  height: 100px;
  line-height: 100px;
  background: #e0ebe8;
  color: #4AF8FF;
  text-decoration: none;

}
.contact-box {
  display: flex;
  justify-content: center;
  padding: 30px;
  flex-wrap: wrap;
}

#contact a {
  text-align: center;
  background-color: black;
}

.contact-details:hover {
  background: #e4f1fe;
  color: white;
}

@media only screen and (max-width: 367px) {
  /*    #contact{
    min-height:1100px;
  } */
  .contact-details {
    border: 2px solid #4AF8FF;
    border-radius: 0;
    width: 90px;
    height: 20px;
    padding: 10px;
    line-height: normal;
  }
}

footer {
  background-color: black;
  text-align: center;
  color: #4AF8FF;
  padding: 10px;
}
