.container {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.box {
    margin: 8px;
    width: 120px;
    height: 150px;
    text-align: center;
}

img {
    width: 220px;
}

body {
    height: 1050px;
}