body {
    background-color:black;
background-image:
radial-gradient(white, rgba(255,255,255,.2) 2px, transparent 0px),
radial-gradient(white, rgba(255,255,255,.15) 1px, transparent 0px),
radial-gradient(white, rgba(255,255,255,.1) 2px, transparent 0px),
radial-gradient(rgba(255,255,255,.4), rgba(255,255,255,.1) 2px, transparent 0px);
background-size: 550px 550px, 350px 350px, 250px 250px, 150px 150px; 
background-position: 0 0, 40px 60px, 130px 270px, 70px 100px;
/* width: 175%; */
}

nav ul {
    display: flex;
    justify-content: flex-end;
    position: fixed;
    width: 100%;
    background-color: black;
    font-size: 20px;
}

nav ul li {
    display: inline-block;
    margin: 50px;
    margin-bottom: 15px;
    margin-top: 25px;
}

nav ul li a {
    text-decoration: none;
    color: yellow;
  }

.intro {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    text-align: center;
    color: white;
}

.intro div {
    height: 500px;
    width: 500px
}

.intro h1 {
    font-size: 20px;
    padding: 25px;
}

.crawl-heading {
    font-size: 50px;
    text-align: center;
    margin-bottom: 50px;
    padding-top: 100px;
    color: yellow;
}

.character-heading {
    font-size: 50px;
    text-align: center;
    margin: 50px;
    padding-top: 100px;
    color: yellow;
}

.container {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.container div {
    width: 200px;
    margin: 10px;
    text-align: center;
}

